anthropic==0.109.2
blinker==1.9.0
click==8.3.3
colorama==0.4.6
et_xmlfile==2.0.0
Flask==3.1.3
greenlet==3.4.0
gunicorn==23.0.0
html5lib==1.1
itsdangerous==2.2.0
Jinja2==3.1.6
lxml==6.1.0
MarkupSafe==3.0.3
numpy==2.4.4
openpyxl==3.1.5
pandas==3.0.2
pillow==12.2.0
pillow-avif-plugin==1.5.5
playwright==1.58.0
pyee==13.0.1
python-dateutil==2.9.0.post0
requests==2.32.3
six==1.17.0
typing_extensions==4.15.0
tzdata==2026.1
webencodings==0.5.1
Werkzeug==3.1.8
